<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxtc.ccweb.model.CCServiceSx">

    <resultMap id="ccServiceSxInfoResultMap" type="com.sxtc.ccweb.model.CCServiceSx">
        <id property="serviceId" column="SERVICE_ID"/>
        <result property="callId" column="CALL_ID"/>
        <result property="callerId" column="CALLER_ID"/>
        <result property="simpleRec" column="SIMPLE_REC"/>
        <result property="callDir" column="CALL_DIR"/>
        <result property="customerId" column="CUSTOMER_ID"/>
        <result property="custName" column="CUST_NAME"/>
        <result property="contactPerson" column="CONTACT_PERSON"/>
        <result property="contactPhone" column="CONTACT_PHONE"/>
        <result property="agentId" column="AGENT_ID"/>
        <result property="registerTime" column="REGISTER_TIME"/>
        <result property="email" column="EMAIL"/>
        <result property="recVoFile" column="REC_VOC_FILE"/>
        <result property="confirmType" column="IS_CONFIRM_TYPE"/>
        <result property="serviceResult" column="SERVICE_RESULT"/>
        <result property="serviceResultTime" column="SERVICE_RESULT_TIME"/>
        <result property="needFB" column="IS_NEED_FB"/>
        <result property="secretRank" column="SECRET_RANK"/>
        <result property="recStopTime" column="REC_STOP_TIME"/>
        <result property="hwCallId" column="HW_CALL_ID"/>
        <result property="releaseCause" column="RELEASE_CAUSE"/>
        <result property="visitId" column="VISIT_ID"/>
    </resultMap>

    <sql id="CCServiceSxColumnsSql">
        CC_SERVICE_LIST_SX.SERVICE_ID,CC_SERVICE_LIST_SX.CALL_ID,CC_SERVICE_LIST_SX.CALLER_ID,CC_SERVICE_LIST_SX.SIMPLE_REC,CC_SERVICE_LIST_SX.CALL_DIR,CC_SERVICE_LIST_SX.CUSTOMER_ID,
        CC_SERVICE_LIST_SX.CUST_NAME,CC_SERVICE_LIST_SX.CONTACT_PERSON,CC_SERVICE_LIST_SX.CONTACT_PHONE,CC_SERVICE_LIST_SX.AGENT_ID,CC_SERVICE_LIST_SX.REGISTER_TIME,
        CC_SERVICE_LIST_SX.EMAIL,CC_SERVICE_LIST_SX.REC_VOC_FILE,CC_SERVICE_LIST_SX.IS_CONFIRM_TYPE,CC_SERVICE_LIST_SX.SERVICE_RESULT,CC_SERVICE_LIST_SX.SERVICE_RESULT_TIME,
        CC_SERVICE_LIST_SX.IS_NEED_FB,CC_SERVICE_LIST_SX.SECRET_RANK,CC_SERVICE_LIST_SX.REC_STOP_TIME,CC_SERVICE_LIST_SX.HW_CALL_ID,CC_SERVICE_LIST_SX.RELEASE_CAUSE,
        CC_SERVICE_LIST_SX.VISIT_ID
    </sql>

    <insert id="addNewServiceSx" parameterType="com.sxtc.ccweb.model.CCServiceSx" keyProperty="serviceId"
            useGeneratedKeys="false">
        <selectKey keyProperty="serviceId" resultType="java.lang.Integer" order="BEFORE">
            SELECT CC_SRV_LIST_SX_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO CC_SERVICE_LIST_SX(
        <include refid="CCServiceSxColumnsSql"/>
        )VALUES (
        #{serviceId,jdbcType=NUMERIC},#{callId,jdbcType=NUMERIC },#{callerId,jdbcType=VARCHAR},#{simpleRec,jdbcType=NUMERIC},#{callDir,jdbcType=NUMERIC},#{customerId,jdbcType=NUMERIC},
        #{custName,jdbcType=VARCHAR},#{contactPerson,jdbcType=VARCHAR},#{contactPhone,jdbcType=VARCHAR},#{agentId,jdbcType=VARCHAR},SYSDATE,#{email,jdbcType=VARCHAR},
        #{recVoFile,jdbcType=VARCHAR},#{confirmType,jdbcType=NUMERIC},#{serviceResult,jdbcType=NUMERIC},#{serviceResultTime,jdbcType=DATE },#{needFB,jdbcType=NUMERIC},#{secretRank,jdbcType=NUMERIC},
        #{recStopTime,jdbcType=DATE },#{hwCallId,jdbcType=VARCHAR},#{releaseCause,jdbcType=NUMERIC},#{visitId,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateServiceSx" parameterType="com.sxtc.ccweb.model.CCServiceSx" keyProperty="serviceId">
        UPDATE CC_SERVICE_LIST_SX
        <trim prefix="set" suffixOverrides=",">
            <if test="callId!=null and callId!=''">CALL_ID=#{callId}</if>
            <if test="callerId!=null and callerId!=''">CALLER_ID=#{callerId}</if>
            <if test="simpleRec!=null and simpleRec!=''">SIMPLE_REC=#{simpleRec}</if>
            <if test="callDir!=null and callDir!=''">CALL_DIR=#{callDir}</if>
            <if test="customerId!=null and customerId!=''">CUSTOMER_ID=#{customerId}</if>
            <if test="custName!=null and custName!=''">CUST_NAME=#{custName}</if>
            <if test="contactPerson!=null and contactPerson!=''">CONTACT_PERSON=#{contactPerson}</if>
            <if test="contactPhone!=null and contactPhone!=''">CONTACT_PHONE=#{contactPhone}</if>
            <if test="agentId!=null and agentId!=''">AGENT_ID=#{agentId}</if>
            <if test="registerTime!=null and registerTime!=''">REGISTER_TIME=SYSDATE</if>
            <if test="email!=null and email!=''">EMAIL=#{email}</if>
            <if test="recVoFile!=null and recVoFile!=''">REC_VOC_FILE=#{recVoFile}</if>
            <if test="confirmType!=null and confirmType!=''">IS_CONFIRM_TYPE=#{confirmType}</if>
            <if test="serviceResult!=null and serviceResult!=''">SERVICE_RESULT=#{serviceResult}</if>
            <if test="serviceResultTime!=null and serviceResultTime!=''">SERVICE_RESULT_TIME=SYSDATE</if>
            <if test="needFB!=null and needFB!=''">IS_NEED_FB=#{needFB}</if>
            <if test="secretRank!=null and secretRank!=''">SECRET_RANK=#{secretRank}</if>
            <if test="recStopTime!=null and recStopTime!=''">REC_STOP_TIME=SYSDATE</if>
            <if test="hwCallId!=null and hwCallId!=''">HW_CALL_ID=#{hwCallId}</if>
            <if test="releaseCause!=null and releaseCause!=''">RELEASE_CAUSE=#{releaseCause}</if>
            <if test="visitId!=null and visitId!=''">VISIT_ID=#{visitId}</if>
        </trim>
        WHERE SERVICE_ID=#{serviceId}
    </update>

</mapper>